name: Deploy Docs

on:
  push:
    branches: ["main"]

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Intall dependencies
        run: pip install mkdocs mkdocs-material pip install pygments

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --clean
